@font-face {
    font-family: "Nuernberger Text";
    font-weight: normal;
    src: url("fonts/NuernbergerText-Regular.woff2");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Nuernberger Text", sans-serif;
}

h1, h2, p {
    margin: 0;
}

button {
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

a {
    color: #000000;
}

button, input {
    font-family: inherit;
}

