.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #0e2c4f;
}

.company-table {
    padding: 1rem;
    background-color: #eeeeee;
    border-spacing: 3rem 1rem;
}

.company-table thead {
    border-top: 1px solid black;
}

.company-table .load-company {
    text-decoration: underline;
}

.popover {
    position: absolute;
    inset: 0 0 0 0;
    background-color: #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popover .content {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 900px;
    gap: 1rem;
}

.popover .content .header {
    display: flex;
    justify-content: space-between;
    color: #0e2c4f;
}

